  <div class="page-header text-center">
    <h1>Nova foto: {{foto.titulo}}</h1>
  </div>

  <p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>

  <form novalidate ng-submit="submeter()" name="formulario" class="row">

    <!-- novalidade >> desabilita a validação do HTML5 -->

    <div class="col-md-6">

      <div class="form-group">
        <label>Título</label>
        <!-- $scope.foto = {}; -->
        <input ng-model="foto.titulo" name="titulo" class="form-control" required ng-maxlength="20">
        <!-- exibição condicional -->
        <!-- acesso via atributo name dos elementos -->
        <span ng-show="formulario.$submitted && formulario.titulo.$error.required" class="form-control alert-danger">Título obrigatório</span>
        <span ng-show="formulario.$submitted && formulario.titulo.$error.maxlength" class="form-control alert-danger">Deve ter no máximo 20 caracteres</span>
      </div>

      <div class="form-group">
        <label>URL</label>
        <input ng-model="foto.url" name="url" class="form-control" required>
        <span ng-show="formulario.$submitted && formulario.url.$error.required" class="form-control alert-danger">URL obrigatória</span>
      </div>

      <div class="form-group">
        <label>Descrição</label>
        <textarea ng-model="foto.descricao" name="descricao" class="form-control"></textarea>
      </div>

      <button ng-disabled="formulario.$invalid" type="submit" class="btn btn-primary">Salvar</button>

      <!-- na tag a >> ng-click="funcaoQualquer()" -->
      <a href="/" class="btn btn-primary">Voltar</a>
      <hr>

    </div>

    <div class="col-md-6">
      <minha-foto url="{{foto.url}}" titulo="{{foto.titulo}}"></minha-foto>
    </div>

  </form>
